/*.headline {
	background-color: black;
	color: white;
	text-align: center;
}*/

.panel {
	margin-top: 25px;
}

.professional-link {
	width: 100%;
}

.profile-picture {
	margin-top: 10px;
	float: left;
	padding-right: 15px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
}












